.Pin {
    margin: 5px;

    border-radius: 5px;

    text-align: center;

    min-width: 100px;
    max-width: 200px;
    height: 100px;

    background-color: lightgreen;
}

.GroupName {
    position: static;

    margin: 0;

    width: 100%;
    height: 20%;

    top: 0;
    border-radius: 5px 5px 0 0;

    justify-content: center;
    align-content: center;

    font-size: small;
}

.LineBreak {
    position: static;
    margin: auto;
    width: 70%;
    height: 0.5px;
    background-color: black;
}

.Description {
    position: static;

    margin: 0;
    padding: 5px;

    width: 100%;
    height: 80%;
    bottom: 0;
    border-radius: 0 0 10px 10px;

    justify-content: center;
    align-content: center;
    align-items: center;

    font-size: medium;
}