.DoneDroppable {
    display: none;

    width: 300px;
    height: 300px;

    background: yellow;

    bottom: 100px;
    right: 100px;
}

.active {
    display: flex;
    position: fixed;
    cursor: crosshair;
}
