.Board {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    padding: 0;
    background: white;
}

.Group {
    display: flex;
    flex-direction: row;
    flex: auto;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}
.Group::-webkit-scrollbar {
    width: 0;
    height: 0;
}