.Pin {
    background-color: lightgreen;

    margin: 5px;
    padding: 5px;

    border-radius: 5px;

    text-align: center;
    vertical-align: center;

    min-height: 100px;
    max-height: 100px;

    width: fit-content;

    min-width: 100px;
    max-width: 200px;

    hyphens: auto;
    overflow-wrap: normal;

    overflow-y: hidden;
    overflow-x: hidden;

    cursor: pointer;
}

.Done {
    background-color: gray;
}

.PinPreview {
    background-color: rgba(144, 238, 144, 0.5);
}

.GroupName {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;

    border-radius: 5px 5px 0 0;

    font-size: small;
}

.LineBreak {
    position: static;
    top: 20%;
    margin: auto;

    width: 70%;
    height: 0.5px;

    background-color:  black;
}

.Description {
    position: static;
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;

    border-radius: 0 0 5px 5px;

    font-size: medium;
}