.DeleteDrop {
    position: fixed;
    display: none;

    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(240,128,128,1), rgba(240,128,128,0));
    width: 10%;
    min-width: 75px;
    left: 0;
    bottom: 0;
    height: calc(100% - 50px);
}

.active {
    display: flex;
}