.DeleteDrop {
    position: fixed;
    display: none;

    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(255,0,0,1), rgba(255,0,0,0));
    width: 10%;
    min-width: 75px;
    left: 0;
    bottom: 0;
    height: 100%;
}

.active {
    display: flex;
}