.LoginDiv {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 50%;
    transform: translateX(-50%);

    min-width: 200px;
    min-height: 200px;
    max-height: 400px;
    max-width: 400px;

    margin-top: 20px;
}

#submitButton {
    margin: 10px;
}